// Custom styles.
// Path:: themes/next-reloaded/source/css/_custom/custom.styl
.content-wrap {
  background: #fff;
  padding: 40px;
}

.post-body .fancybox img {
  display: block !important;
  margin: 0 auto !important;
  cursor: pointer;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}

.post-body img {
  margin: 0 auto !important;
}

.post-body p a {
  color: #0593d3;
  border-bottom: none;
  &:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}

// 主页文章添加阴影效果
//.post {
//  margin-top: 60px;
//  margin-bottom: 60px;
//  padding: 25px;
//  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
//}

body {
  background: #f0f0f0;
}

.footer-inner {
  text-align: center;
}

@media (max-width: 767px) {
  .content-wrap {
    background: #fff;
    padding: 5px 0;
  }
}

